image: node:16-alpine
stages:
  - build
  - test
  - deploy
variables:
  DB_DATABASE: $DB_DATABASE
  DB_HOST: $DB_HOST
  DB_PASS: $DB_PASS
  DB_USER: $DB_USER
  DB_PORT: $DB_PORT
  JWT_EXPIRE: $JWT_EXPIRE
  JWT_SECRET: $JWT_SECRET
  PAGE_NUMBER: $PAGE_NUMBER
  PAGE_SIZE: $PAGE_SIZE
  USER_ADMIN: $USER_ADMIN
  PASS_ADMIN: $PASS_ADMIN
  ADMIN_ROLE: $ADMIN_ROLE
  PORT: $PORT

deploy-app:
  stage: deploy
  dependencies:
    - test-apps
  before_script:
    - npm i -g @nestjs/cli
    - npm install --only=production
    - npm install -g pm2
    - npm run build
  script:
    - pm2 start ecosystem.config.js
  artifacts:
    expire_in: 1hr
    paths:
      - node_modules/
  cache:
    paths:
      - node_modules/
  only:
    - main
test-apps:
  stage: test
  before_script:
    - "npm install --only=development"
  script:
    - "npm run test:e2e"

include:
  template: SAST.gitlab-ci.yml