version: "3.8"

services:
  db:
    image: postgres:15.4-alpine 
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_DATABASE}
    container_name: postgres_db
    ports:
      - "5432:5432"
  app_publication:
    build: .
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_DATABASE}
      - DB_PORT=${DB_PORT}
      - JWT_EXPIRE=${JWT_EXPIRE}
      - JWT_SECRET=${JWT_SECRET}
      - PAGE_NUMBER=${PAGE_NUMBER}
      - PAGE_SIZE=${PAGE_SIZE}
      - USER_ADMIN=${USER_ADMIN}
      - PASS_ADMIN=${PASS_ADMIN}

    container_name: app_publication
    volumes:
      - .:/usr/src
      - /usr/src/node_modules
    command: npm run start:dev
    depends_on:
      - db
    ports:
      - "3000:3000"  
  